*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
 
}
ul{list-style: none;}

.bgOrange{background-color: orange;}
.headerIcon{
    display:inline-block;
    padding: 10px;
    background-color: orange;
    border-radius: 50%;
    height:44px;
}
.headerIcon i{
    font-size: 20px;
    color: white;
}
.bgColor{
    background-color: rgb(19, 8, 116) ;
}
.aboutHeading{color:orange}
.fs-14{font-size: 14px;}
.bgHover{border:none;
color:white}
.bgHover:hover{
    background-color: rgb(255, 145, 1);
}
.fw-600{
    font-weight: 600;
}
.height{height: 200px;
 background-color: lightgray;
display: flex;
align-items: center;}
 .testimonialsHover{
    background-color: orange;
 }
 .testimonialsIcon{
  color:white;
 }
 .testimonialsHover:hover{
    background-color: white;
    border:2px solid orange;
 }
 .testimonialsHover:hover .testimonialsIcon{
    color:orange;
 }

 .afterline::after{
    content: "";
    width:25%;
    height:1px;
    background-color: orange;
    display: block;
    position: absolute;
    left:36%;

 }
 .listHeight{
 height:170px ;
 }
 .bgLight1{
    background-color: rgb(255, 234, 225);
 }
 .bgLight2{
    background-color: rgb(212, 251, 218);
 }
 .bgLight3{
    background-color: rgb(218, 250, 252);
 }
 .bgLight4{
    background-color: rgb(255, 248, 204);
 }
 .fs-12{
    font-size: 12px;
 }
 .listStyle{
    list-style:disc;
 }
 .bgBlack{
    background-color: black;
 }
 .socialp{padding: 8px 11px 8px 11px;}
 .socialp3{padding: 8px 9px 8px 9px;}
 .socialp4{padding: 8px 10px 8px 10px;}